.dropdown {
    // height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    width: 100%;
    padding: 1rem 0.5rem;
    font-family: "Onest";
    border-bottom: 1px solid #d4dff4;

    .d-n {
        display: none;
    }

    .active {
        display: block;
    }

    &-block {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
        width: 100%;
    }

    &-header {
        display: flex;
        align-items: center;
        width: 100%;
        font-family: "Onest";
        
    }

    &-icon {
        margin-right: 10px;
        cursor: pointer;
    }

    &-title {
        color: #37476a;
        font-weight: 400;
        font-size: 24px;
        line-height: 31px;
        cursor: pointer;
    }

    &-subtitle {
        width: 100%;
        color: #7c8eb5;
        font-weight: 400;
        font-size: 20px;
        font-family: "Onest";
        line-height: 25px;
    }

    &-invisible {
        width: 100%;
    }
}

.dropdown:last-child {
    border-bottom: none;
}
