.DiaryStart {


    &-text {

        &-h1 {
            color: #17282F;
            font-size: 24px;
            font-family: "Montserrat Alternates";
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            padding: 10px 0;
        }

        &-gray {
            color: #7C8EB5;
            font-size: 24px;
            font-family: "Montserrat Alternates";
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }

    &-aims{
        padding: 10px 0;
    }

    &-row{
        display: flex;
        flex-flow: row nowrap;
        gap: 20px;
        padding-bottom: 20px;
    }
}