.DiaryStart {
    &-text {
        &-h1 {
            padding: 10px;
            color: #17282f;
            font-weight: 600;
            font-size: 24px;
            font-family: "Montserrat Alternates";
            font-style: normal;
            line-height: normal;
            // margin-bottom: -30px;

            &_margin_bottom {
                margin-bottom: -30px;
                padding: 0;
                padding-top: 10px;
            }
        }

        &-gray {
            color: #7c8eb5;
            font-weight: 600;
            font-size: 24px;
            font-family: "Montserrat Alternates";
            font-style: normal;
            line-height: normal;
        }

        &-empty-msg {
            padding: 12px;
            color: #7c8eb5;
            font-weight: 500;
            font-size: 16px;
            font-family: "Montserrat Alternates";
            font-style: normal;
            line-height: normal;

            &-animate {
                display: inline-block;
                color: #7c8eb5;
                font-weight: 500;
                font-size: 16px;
                font-family: "Montserrat Alternates";
                animation: fade-out 2s infinite ease-in-out;
                clip-path: inset(0 30px 0 0);
            }

            @keyframes fade-out {
                to {
                    clip-path: inset(0 -24px 0 0);
                }
            }
        }
    }

    &-aims {
        padding: 10px 0;
    }

    &-row {
        display: flex;
        flex-flow: row nowrap;
        gap: 20px;
        padding-bottom: 20px;
    }
}
