.timeline-graph {
    // border: thin solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;

    &-time {
        color: #7c8eb5;
        font-size: 0.875rem;
    }

    &-body {
        display: flex;
        flex: 1 0 auto;
        height: 100%;
        margin: 0 8px;

        & > div {
            &:first-child {
                border-radius: 40% 0 0 40%;
            }

            &:last-child {
                border-radius: 0 40% 40% 0;
            }
        }
    }

    &-help {
        &_time {
            padding: 0 8px 0 0;
            color: gray;
        }
    }

    &-element {
        flex: 1 0 auto;
        margin: 0 1px;

        &_gray {
            background: #d4dff4;
        }

        &_red {
            background: #fe5d74;
        }

        &_blue {
            background: #2477f4;
        }
    }
    &-tooltip {
        padding: 8px 12px !important;
        max-width: 450px !important;
        z-index: 100;
        border-radius: 12px !important;
        border: 1px solid #7c8eb5;
        background: #fff !important;
        line-height: 12px !important;
        box-shadow: 2px 2px 12px 0px rgba(173, 185, 212, 0.3);

        &-text {
            color: #37476a;
            font-size: 12px;

            font-family: "Onest";
            font-weight: 500;
        }
    }
}

.graph-help-line {
    height: 100%;

    &-content {
        position: absolute;
        z-index: 1;
        width: max-content;
        padding: 8px 12px;
        font-weight: 500;
        font-size: 0.75rem;
        background-color: white;
        border-radius: 12px;
    }
}
