.AimItem {
    width: 100%;
    padding: 16px;
    background-color: #FFF;
    border-radius: 16px;

    &-header {
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;

        &-status {
            padding: 4px 12px;
            color: #FFF;
            font-weight: 700;
            font-size: 16px;
            font-family: "Onest";
            background: #7C8EB5;
            border-radius: 6px;

        }

        &-type {
            padding: 4px 12px;
            color: #7C8EB5;
            font-weight: 500;
            font-size: 16px;
            font-family: "Onest";
            background: rgb(124 142 181 / 20%);
            border-radius: 6px;
        }

        &-message {
            flex-grow: 1;


            &-text {
                display: flex;
                flex-flow: row nowrap;
                gap: 6px;
                padding: 4px 12px;
                color: #F35B60;
                font-size: 16px;
                font-family: "Onest";
                background: rgb(243 91 96 / 5%);
                border-radius: 6px;


            }

        }

        &-btn-show {
            display: flex;
            flex-flow: row nowrap;
            flex-grow: 1;
            gap: 10px;
            align-items: center;
            justify-content: flex-end;
            padding: 4px 12px;
            color: #7C8EB5;
            font-weight: 500;
            font-size: 14px;
            font-family: "Montserrat Alternates";
            cursor: pointer;

            &-icon {
                svg {
                    display: flex;
                    align-items: flex-start;
                    justify-content: start;
                }

                &_rotated {
                    transform: rotate(-180deg);


                }

            }

        }

        &-title {
            color: #37476A;
            font-weight: 600;
            font-size: 20px;
            font-family: "Montserrat Alternates";
        }

        &-phrase {
            color: #7C8EB5;
            font-size: 16px;
            font-family: "Onest";
        }

    }

    &-row {
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;
        align-items: flex-start;
        justify-content: start;
    }

    &-padding {
        align-items: center;
        margin: 40px 0 10px;
    }

    &-steps {
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;
        justify-content: space-around;
        width: 100%;
        margin: 10px 0;

        &-item {
            flex-grow: 1;
            padding: 4px;
            color: #7C8EB5;
            font-weight: 500;
            font-size: 20px;
            font-family: "Onest";
            text-align: center;
            border-radius: 8px;

            &_active {
                color: #2477F4;
                background: rgb(36 119 244 / 10%);
            }
        }
    }

    &-warning {
        display: flex;
        flex-flow: row nowrap;
        gap: 6px;
        margin: 8px 0;
        padding: 4px 12px;
        color: #D69C09;
        font-size: 16px;
        font-family: "Onest";
        background: rgb(255 184 0 / 5%);
        border-radius: 6px;
    }

    &-error-block{
        display: flex;
        flex-direction: column;
        gap:10px;
        align-self: center;
        justify-content: center;
        margin-top: 15px;

        &-text{
            color: #F35B60;
            font-size: 20px;
            font-family: "Onest";
            text-align: center;
        }
    }

    &-task-block {
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
        align-items: flex-start;
        margin: 15px 0;

        &-item {
            display: flex;
            flex-flow: row nowrap;
            gap: 10px;
            color: #37476A;
            font-size: 20px;
            font-family: "Onest";

            &_done {
                color: #07D07C;
                font-size: 20px;
                font-family: "Onest";
                text-decoration: line-through;
            }

            svg {
                display: flex;
                align-items: flex-start;
                justify-content: start;
                width: 20px;
            }
        }
    }

    &-params-block {
        width: 400px;

        &-arrow {
            svg {
                display: flex;
                align-items: flex-start;
                justify-content: start;
            }

            &_rotated {
                transform: rotate(-180deg);
            }
        }

        &-grow {
            flex-grow: 1;
        }

        &-title {
            display: flex;
            flex-flow: row nowrap;
            gap: 10px;
            align-items: center;
            justify-content: center;
            color: #7C8EB5;
            font-weight: 600;
            font-size: 16px;
            font-family: "Montserrat Alternates";
            cursor: pointer;
        }

        &-message {
            color: #37476A;
            font-weight: 500;
            font-size: 16px;
            font-family: "Montserrat Alternates";
        }

        &-grid {
            display: grid;
            grid-template-rows: repeat(6, 1fr);
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px 20px;
            align-items: stretch;
            justify-items: start;

            &-item {
                color: #37476A;
                font-weight: 500;
                font-size: 14px;
                font-family: "Montserrat Alternates";
                cursor: pointer;

                

                &-label {
                    display: inline-block;
                    font-size: 14px;
                    line-height: 21px;
                    vertical-align: top;

                    &_active{
                        cursor: default;
                    }
                }

                &-input {
                    --active: #37476A;
                    --active-inner: #fff;
                    --border: #BBC1E1;
                    --border-hover: #275EFE;
                    --background: #fff;
                    --disabled: #F6F8FF;
                    --disabled-inner: #E1E6F9;

                    position: relative;
                    display: inline-block;
                    width: 21px;
                    height: 21px;
                    margin-right: 8px;
                    vertical-align: top;
                    background: var(--b, var(--background));
                    border: 1px solid var(--bc, var(--border));
                    outline: none;
                    transition: background .3s, border-color .3s, box-shadow .2s;
                    appearance: none;
                    appearance: none;

                    &::after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        opacity: var(--o, 0);
                        transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
                        content: '';
                    }

                    &:checked {
                        --o: 1;
                        --b: var(--active);
                        --bc: var(--active);
                        --d-o: .3s;
                        --d-t: .6s;
                        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
                    }

                    &:disabled {
                        --b: var(--disabled);

                        cursor: not-allowed;
                        opacity: .9;

                        &:checked {
                            --b: var(--disabled-inner);
                            --bc: var(--border);
                        }

                        &+label {
                            cursor: not-allowed;
                        }
                    }
                }

                // внутренности
                &-input {
                    border: 2px solid #B2C2E4;
                    border-radius: 4px;

                    &::after {
                        top: 3px;
                        left: 5px;
                        width: 5px;
                        height: 9px;
                        border: 2px solid var(--active-inner);
                        border-top: 0;
                        border-left: 0;
                        transform: rotate(var(--r, 20deg));
                    }

                    &:checked {
                        --r: 45deg;
                    }
                }

            }
        }

        &-btn{
            gap:10px;
            padding: 6px 8px 6px 12px;
            color: #FFF;
            font-weight: 600;
            font-size: 14px;
            font-family: "Montserrat Alternates";
            background: #FFB800;
            border-radius: 8px;
            cursor: pointer;
        }
    }

    &-tooltip {
        z-index: 1;
        max-width: 450px;
        padding: 8px 12px;
        color: #37476A;
        font-weight: 500;
        font-size: 12px;
        font-family: "Onest";
        background: #FFF;
        border: 1px solid #7C8EB5;
        border-radius: 12px;
        box-shadow: 2px 2px 12px 0 rgb(173 185 212 / 30%);
    }

}