.text-input {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    font-weight: 500;
    & input {
        border: 2px solid #b2c2e4;
        border-radius: 16px;
        padding: 18px 16px;
        font-size: 1.25rem;

        &:focus {
            border-color: #2477f4;
        }
    }

    & span {
        padding: 4px 16px;
        font-weight: 600;
    }
}
