.login-fragment {
    &-phrase {
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 700;
    }

    &-subphrase {
        font-size: 1.25rem;
        padding: 16px 0;
    }
}
