.MenuItem {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: start;
    height: 60px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    color: #90a0c1;
    font-weight: 600;
    font-size: 16px;
    font-family: "Montserrat Alternates";
    font-style: normal;
    line-height: 20px;
    cursor: pointer;

    &:hover,
    &_selected {
        color: #2477f4;
        background: linear-gradient(
            270deg,
            rgb(36 119 244 / 10%) 0%,
            rgb(255 255 255 / 0%) 100%
        );
        border-right: 3px solid #2477f4;
        border-radius: 40px 0 0 40px;

        & svg {
            fill: #2477f4;
        }
    }

    &-span-logo {
        padding-right: 5%;

        &-svg {
            width: 25px;
            height: 25px;
            fill: #90a0c1;
        }
    }

    &-title {
        margin-left: 30px;
    }
}
