.tab {
    &-button {
        padding: 12px 32px;
        color: #ffb800;
        font-weight: 600;
        white-space: nowrap;
        background: none;
        border: none;
        border: thin solid #ffb800;
        border-radius: 8px;
        font-family: Montserrat Alternates;

        &_selected {
            color: white;
            background: #ffb800;
            box-shadow: 0 4px 13px rgb(255 184 0 / 25%);
        }
    }
}
