.archive-video-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 180px;
    padding: 16px 0 8px 8px;
    font-family: "Onest";

    &-title {
        color: #000;
        font-weight: 500;
        font-size: 14px;
    }

    &-time-block {
        display: flex;
        gap: 10px;
        margin-top: 8px;
    }

    &-date {
        color: #7c8eb5;
        font-weight: 500;
        font-size: 16px;
    }

    &-time {
        color: #2477f4;
        font-size: 16px;
    }

    &-btn {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: space-between;
        width: 120px;
        margin-top: auto;
        margin-right: 44px;
        padding: 6px 8px 6px 12px;
        background: #ffb800;
        border-radius: 8px;
        cursor: pointer;

        &-descr {
            color: #fff;
            font-weight: 600;
            font-size: 14px;
            font-family: "Montserrat Alternates";
        }

        &-icon {
        }
    }
}
