.BasicTextPlan{
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;

    &-text{
        display: flex;
        flex-flow: row nowrap;
        gap:20px;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 24px;
        font-family: 'Onest';
        font-style: normal;
        line-height: 31px;
        
        
        

        &-blue{
            color: #5196FF;
            font-weight: 800;
            font-size: 32px;
            font-family: 'Onest';
            font-style: normal;
            line-height: 41px;
        }
    }

    &-arrow{
        cursor: pointer;

    }
}