.circleFill {
    &-item {
        position: relative;
        width: 100%;
        margin-bottom: 6px;
    }

    &-border {
        display: flex;
        gap: 8px;
        margin-bottom: 0;
        background: #f7faff;
        border-radius: 33px;
    }

    &-ls-result {
        position: absolute;
        top: 78px;
        left: 38px;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 77px;
        height: 36px;
        text-align: center;
        transform: translateX(-50%);
        transform: translateY(-50%);

        & > span {
            color: #37476a;
            font-weight: 600;
            font-size: 32px;
            font-family: "Montserrat Alternates";
            font-style: normal;
            line-height: 39px;
            text-transform: uppercase;
            word-wrap: break-word;
        }
    }

    &-ls-circle {
        width: 150px;
        height: 135px;
    }

    &-ls-percent {
        position: relative;
        width: 150px;
        height: 150px;
        transform: rotate(155deg);

        & > svg {
            position: relative;
            width: 150px;
            height: 150px;

            & > circle {
                width: 100%;
                height: 100%;
                fill: transparent;
                stroke-width: 9px;
            }

            & > circle.sector {
                fill: none;
                stroke: green;
                stroke-width: 61px;
            }
        }
    }

    &-rs {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding-top: 8px;
        padding-right: 8px;
        font-family: "Onest";

        &-title {
            width: 100%;
            margin-bottom: 0.5rem;
            color: #37476a;
            font-weight: 700;
            font-size: 20px;
            line-height: 25px;
            text-transform: uppercase;
        }

        &-text {
            display: inline-block;
            color: #7c8eb5;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
        }
    }
}
