@charset "UTF-8";


/* Slider */

.slick-list {
    width: auto;

    .slick-loading & {
        
    }
}


/* Arrows */

.slick-prev,
.slick-next {
    position: absolute; 
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 0;
    line-height: 0px;
    transform: translate(0, -50%);
    transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    fill: #7A8DA5; 
    fill-opacity: 0.5;

}

.slick-prev {
    left: -30px;
    display: inline;

    [dir="rtl"] & {
        right: -25px;
        left: auto;
    }

    &:hover {
        fill: #2477F4;
        fill-opacity: 1;
    }
}

.slick-next {
    right: -30px;

    [dir="rtl"] & {
        right: auto;
        left: -25px;
    }

    &:hover {
        fill: #2477F4;
        fill-opacity: 1;
    }
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;

    li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;

        button {
            display: block;
            width: 20px;
            height: 20px;
            padding: 5px;
            color: transparent;
            font-size: 0;
            line-height: 0px;
            background: transparent;
            border: 0;
            outline: none;
            cursor: pointer;

            &:hover, &:focus {
                outline: none;
                
            }

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }

    }
}
