.persuasiveness {
    font-family: "Onest";
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;

    background: #fff;
    border-radius: 12px;

    &-content {
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #37476a;
    }
}
