.ColumnChart {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: start;
    width: 100%;
    height: 100px;
    gap: 2px;

    &-brick {
        border-radius: 6px;
    }

    &-tooltip {
        border-radius: 12px !important;
        border: 1px solid #7C8EB5;
        background: #FFF !important;
        box-shadow: 2px 2px 12px 0px rgba(173, 185, 212, 0.30);
        padding: 8px 12px;
        gap: 6px;
        color: #37476A !important;
        font-family: Onest !important;
        font-size: 12px !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &-happiness {
            color: #1EAE5C;
            font-weight: 500;
        }
        &-anger {
            color: #FF4E78;
            font-weight: 500;
        }
    }
}