.archive-popup {
    position: absolute;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 1px;
    background: #f3f5f9;
    border-radius: 16px;
    box-shadow: 0 4px 12px 0 rgb(73 113 187 / 20%);

    &-d-n {
        display: none;
    }

    &-item {
        display: flex;
        gap: 8px;
        width: 259px;
        padding: 10px 12px;
        background: #fff;
        cursor: pointer;
    }

    &-item:first-child {
        border-radius: 16px 16px 0 0;
    }

    &-item:last-child {
        border-radius: 0 0 16px 16px;
    }

    &-icon {
        width: 20px;
        height: 20px;
    }

    &-title {
        font-size: 16px;
        font-family: "Onest";
        line-height: 20px;
    }
}
