.carouse-item{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-self: flex-start;
    justify-content: space-around;
    width: 180px;
    cursor: pointer;

    &-img-block{
        width: 120px;
        height: 120px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 120px 120px;
        border-radius: 100%;
    }

    &-video-block{
        position: relative;
        width: 120px;
        height: 120px;
        object-fit: cover;
        object-fit: cover;
        overflow: hidden;
        border-radius: 100%;

        video {
            object-fit: cover;
            object-fit: cover;
        }
    }

    &-button{
        position: absolute;
        top: 47px;
        left: 75px;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: 32px;
            height: 32px;
        }
        
    }

    p{
        padding-top: 10px;
        color: #000;
        font-weight: 500;
        font-size: 14px;
        font-family: "Onest";
        line-height: 18px;
        letter-spacing: 0;
        text-align: center;

    }
    
}

