.Tabs {
    margin-bottom: 20px;
    color: #37476a;
    font-weight: 600;
    font-size: 20px;
    font-family: "Montserrat Alternates";
    font-style: normal;
    line-height: 24px;

    &-list {
        display: flex;
        flex-flow: row nowrap;
        gap: 8px;
        justify-content: space-around;
        width: 100%;
    }

    &-content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
        width: 100%;
        padding: 16px;
        overflow: auto;
        background-color: white;
        border-bottom-right-radius: 16px;
        border-bottom-left-radius: 16px;
    }
}
