.nonmonotony {
    width: 100%;

    &-marker {
        display: flex;
        padding: 1rem;
        font-family: "Onest";
        background: #f7faff;
        border-radius: 12px;
    }

    &-description {
        display: inline-block;
        // надо сделать динамически
        width: 83%;
        overflow: auto;
        color: #17282f;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        &-bold {
            font-weight: 500;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 170px;
        padding: 0 0.5rem;
    }

    &-color {
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        align-items: center;

        &-item {
            width: 20px;
            height: 20px;
            border-radius: 4px;
        }
    }

    &-text {
        color: #37476a;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }

    &-analysis {
        display: flex;
        align-items: center;
        padding: 4px 0;
        color: #37476a;
        font-weight: 700;
        font-size: 16px;
        font-family: "Montserrat Alternates";
        line-height: 20px;
    }

    &-set {
        margin-right: 24px;
    }

    &-menu {
        display: flex;
        flex-wrap: nowrap;
        gap: 12px;
    }

    &-item {
        padding: 8px 12px;
        color: #7c8eb5;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        cursor: pointer;
    }

    &-graph > img {
        width: 100%;
    }

    &-choise {
        color: #2477f4;
        background: rgb(36 119 244 / 10%);
        border-radius: 8px;
    }
}
