.CarouselModalContent {
    max-width: 1200px;

    &-video-row {
        display: grid;
        grid-template-rows: min-content;
        grid-template-columns: 800px 1fr;
        gap: 14px;

        &-videoplayer {
            width: auto;
            height: auto;
            max-height: 450px;
            overflow: hidden;

            video {
                max-height: 450px;
                // height: auto !important;
                // width: 800px !important;
            }
        }

        &-description {
            &-title-row {
                display: flex;
                flex-flow: row nowrap;
                gap: 10px;
                align-items: flex-start;
                justify-content: space-between;

                &-text {
                    padding-bottom: 10px;
                    color: #000;
                    font-weight: 500;
                    font-size: 1.5rem;
                    font-style: normal;
                    line-height: 24px;
                }

                &-closebutton {
                    align-self: flex-start;
                    cursor: pointer;
                    fill: #7c8eb5;
                }

                &-closebutton:hover {
                    fill: #000b22;
                }
            }

            &-times {
                color: #7c8eb5;
                font-weight: 400;
                font-size: 16px;
                font-family: "Onest";
                font-style: normal;
                line-height: 20px;
            }

            &-author-block {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: start;
                padding: 8px 0;

                &-logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 28px;
                    height: 28px;
                    margin-right: 10px;
                    overflow: hidden;
                    border-radius: 100%;

                    &-img {
                        width: 100%;
                        height: 100%;
                    }
                }

                &-name {
                    color: #37476a;
                    font-weight: 600;
                    font-size: 16px;
                    font-family: "Montserrat Alternates";
                    font-style: normal;
                    line-height: 17px;
                }
            }

            &-annotation {
                &-title {
                    padding: 10px 0;
                    color: #7c8eb5;
                    font-weight: 500;
                    font-size: 12px;
                    font-family: "Onest";
                    font-style: normal;
                    line-height: 13px;
                }

                &-text {
                    height: 270px;
                    overflow-y: auto;
                    color: #000;
                    font-weight: 400;
                    font-size: 18px;
                    font-style: normal;
                    line-height: 20px;
                }
            }

            &-btn-info {
                display: flex;
                gap: 8px;
                align-items: center;
                justify-content: center;
                width: 100%;

                // margin-top: 20px;
                padding: 16px;
                color: #fff;
                font-weight: 600;
                font-size: 1rem;
                font-family: "Montserrat Alternates";
                font-style: normal;
                background-color: #ffb800;
                border: 0;
                border-radius: 9px;

                &-icon svg {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    &-analyze-row {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 1em;
        align-items: start;
        justify-content: space-between;
        justify-items: stretch;
        width: 100%;
        padding-top: 20px;
        font-family: "Montserrat Alternates";

        &-item {
            display: flex;
            flex-flow: column nowrap;
            align-content: center;
            align-items: center;
            justify-content: center;

            p {
                display: flex;
                align-items: center;
                color: #37476a;
                font-weight: 600;
                font-size: 16px;
                font-style: normal;
                line-height: 17px;
                text-align: center;
            }
        }
    }
}
