.CongruenceScale {
    &-textBloc {
        display: flex;
        flex-direction: row;
        gap: 16px;
        width: 100%;
        padding: 16px;
        background: #F7FAFF;
        border-radius: 12px;
    }

    &-text {
        padding-top: 10px;
        color: #17282F;
        font-weight: 400;
        font-size: 16px;
        font-style: normal;
        line-height: 20px;
    }

    &-textInfTitle {
        font-weight: 500;
    }



    &-blockText {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }

    &-block {
        width: 20px;
        height: 20px;
        margin: 5px;
        border-radius: 4px;
    }

    &-Text {
        color: #37476A;
        font-family: Onest;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &-panels {
        &-panel {
            display: none;
            

            &_visible {
                display: block;
            }
        }
    }

    &-congruenceScaletabs {
        display: flex;
        width: 40%;
        padding: 15px 0;
    }
}



.congruenceScale {
    &-blockText {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

}