.RepetitionStart {
    font-size: 16px;
    line-height: 20px;
    width: 100%;


    &-text {

        display: flex;
        flex-flow: column nowrap;
        gap: 8px;

        padding-bottom: 40px;
        background-color: #fff;
        border-radius: 16px;
        padding: 10px;

        font-family: 'Onest';
        font-style: normal;

        &-dark-blue {
            font-family: 'Montserrat Alternates';
            font-weight: 600;
            color: #37476A;

            display: flex;
            flex-flow: row nowrap;
            justify-content: start;
            align-items: center;
        }

        &-black {
            font-weight: 400;
            color: #000000;
        }

        &-gray {
            font-weight: 400;
            color: #7C8EB5;

            &-bold {
                font-weight: 500;
            }
        }

        &-blue {
            font-weight: 500;
            color: #2477F4;
        }
    }

    &-btn-block {
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        width: 100%;
        
        gap: 40px;
        margin-top: 30px;
        margin-bottom: 50px;

        &-link {
            cursor: pointer;
            flex-grow: 1;
            max-width: 700px;

            &-svg {
                width: 100%;
            }
        }
    }

    &-loading {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        // width: 100%;
        gap: 10px;

        &-img {
            padding-bottom: 10px;
        }

        &-title {
            color: #37476A;
            font-size: 24px;
            font-family: Montserrat Alternates;
            font-weight: 600;

            &-animate {
                color: #37476A;
                font-size: 24px;
                font-family: Montserrat Alternates;
                font-weight: 600;

                display:inline-block;
                clip-path: inset(0 30px 0 0);
                animation: fade-out 2s infinite ease-in-out;
            }

            @keyframes fade-out {
                to {
                  clip-path: inset(0 -24px 0 0);
                }
              }

            &-error {
                color: #FF4E78;
                font-size: 24px;
                font-family: Montserrat Alternates;
                font-weight: 600;
                
            }

            &-link {
                color: #2477F4;
                font-size: 16px;
                font-family: Montserrat Alternates;
                font-weight: 500;
                cursor: pointer;
            }

        }

        &-description {
            color: #7C8EB5;
            font-size: 16px;
            font-family: Montserrat Alternates;
            font-weight: 500;
        }
    }
}

@keyframes l {
    to {
      clip-path: inset(0 -1ch 0 0)
    }
  }


.ModalTitle {
    &-header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        align-items: center;
        font-size: 16px;
        line-height: 20px;
        padding: 10px;
        gap: 10px;

        &-title {
            font-family: 'Montserrat Alternates';
            font-style: normal;
            font-weight: 600;
            font-size: 1em;
            line-height: 1em;
            color: #37476A;
            flex-grow: 1;
        }

        &-icon {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            width: 28px;

            &-close {
                cursor: pointer;
            }
        }
    }

}