.RepetitionStart{
    font-size: 16px;
    line-height: 20px;
    

    &-text{
        
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;

        padding-bottom: 40px;

        font-family: 'Onest';
        font-style: normal;

        &-dark-blue{
            font-family: 'Montserrat Alternates';
            font-weight: 600;
            color: #37476A;
        }

        &-black{
            font-weight: 400;
            color: #000000;
        }

        &-gray{
            font-weight: 400;
            color: #7C8EB5;
            
            &-bold{
                font-weight: 500;
            }
        }
        &-blue{
            font-weight: 500;
            color: #2477F4;
        }
    }

    &-btn-block{
        display: flex;
        flex-flow: row wrap;
        gap:25px;

        &-link{
            cursor: pointer;
            max-width: 600px;
        

            &-svg{
                width: 100%;

            }
        }
    }
}

.ModalTitle{
    &-header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        align-items: center;
        font-size: 16px;
        line-height: 20px;
        padding: 10px;
        gap: 10px;

        &-title {
            font-family: 'Montserrat Alternates';
            font-style: normal;
            font-weight: 600;
            font-size: 1em;
            line-height: 1em;
            color: #37476A;
            flex-grow: 1;
        }

        &-icon {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            width: 28px;

            &-close{
                cursor: pointer;
            }
        }
    }

}