.RadioItem {
    &-col-answers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2px;
        justify-items: start;

        &-item {
            display: flex;
            flex-direction: row;
            gap: 12px;
            align-items: center;
            justify-content: start;
            padding-top: 10px;
            color: #7C8EB5;
            font-family: 'Montserrat Alternates';

            &-icon {
                width: 24px;
                height: 24px;
            }

            &-label {
                font-weight: 500;
                font-size: 16px;
                font-family: 'Montserrat Alternates';
                font-style: normal;
                line-height: 20px;
                cursor: pointer;
                user-select: none;

                // &-radio
                &-radio:checked,
                &-radio:not(:checked) {
                    display: none;
                }

                &-radio:checked+&-custom-radio__label,
                &-radio:not(:checked)+&-custom-radio__label {
                    position: relative;
                    display: inline-block;
                    margin-bottom: 5px;
                    padding: 6px 0 0 40px;
                }

                &-radio:not(:checked)+&-custom-radio__label::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 28px;
                    height: 28px;
                    border: 2px solid #B2C2E4;
                    border-radius: 8px;
                    content: '';

                }

                &-radio:checked+&-custom-radio__label::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 32px;
                    height: 32px;
                    background: #2477F4;
                    border-radius: 8px;
                    outline: 2px solid #FFF;
                    outline-offset: -4px;
                    content: '';

                }

                &-radio:checked+&-custom-radio__label::after {
                    // content: '';
                    // width: 24px;
                    // // width: 1.3em;
                    // height: 24px;
                    // left: 4px;
                    // top: 4px;
                    // position: absolute;
                    // background: #2477F4;
                    // border-radius: 6px;
                    // // z-index: 1;

                    // background-repeat: no-repeat;
                    // background-position: center center;
                    // background-size: 50% 50%;
                    // background-image: url("./images/rectangle-answer.png");

                }
            }
        }

        &_checked {
            color: #031C3D;
            background: #2477F4;
            box-shadow: 0 0 14px rgb(124 142 181 / 25%);
            fill: #FFF;
        }
    }
}