.blocText {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    width: 1200px;
    padding: 16px;
    background: #f7faff;
    border-radius: 12px;
}

.textInf {
    display: flex;
    align-items: center;
    width: 90%;
    color: #17282f;
    font-weight: 500;
    font-size: 16px;
    font-family: "Onest";
    font-style: normal;
    line-height: 20px;
}

.blocColor {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 8px;
}

.colorSquare1,
.colorSquare2,
.colorSquare3,
.colorSquare4 {
    width: 20px;
    height: 20px;
    background: linear-gradient(74.12deg, #410dae 0%, #7524fa 100%);
    border-radius: 4px;
}

.colorSquare2 {
    background: linear-gradient(78.41deg, #fe6972 0%, #ff4e78 100%);
}

.colorSquare3 {
    background: linear-gradient(32.08deg, #ffb800 0%, #fda743 100%);
}

.colorSquare4 {
    background: #adb9d4;
}

.Square {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 25%;
    padding: 0;
}
