@property --fs-t {
    syntax: "<string>";
    inherits: true;
    initial-value: 0;
}
@property --lh-t {
    syntax: "<string>";
    inherits: true;
    initial-value: 0;
}
@property --w {
    syntax: "<string>";
    inherits: true;
    initial-value: 0;
}
@property --g {
    syntax: "<string>";
    inherits: true;
    initial-value: 0;
}

.video-panel {
    --fs-t: 16px;
    --lh-t: 17px;
    --g: 1em;
    --w: 1248px;

    padding-top: 8px;

    &-analyze-row {
        // width: var(--w);
        // padding-top: 19.5px;

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: var(--g);
        align-items: center;
        justify-content: space-between;
        justify-items: stretch;
        width: 100%;
        font-family: "Montserrat Alternates";

        &-item {
            display: flex;
            flex-flow: column nowrap;
            align-content: center;
            align-items: center;
            justify-content: center;

            p {
                display: flex;
                align-items: center;
                color: #37476a;
                font-weight: 600;
                font-size: var(--fs-t);
                font-style: normal;
                line-height: var(--lh-t);
                text-align: center;
            }
        }
    }
}

@property --p {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}
@property --w-i {
    syntax: "<string>";
    inherits: true;
    initial-value: 0;
}
@property --b {
    syntax: "<string>";
    inherits: true;
    initial-value: 0;
}
@property --fs-v {
    syntax: "<string>";
    inherits: true;
    initial-value: 0;
}
@property --lh-v {
    syntax: "<string>";
    inherits: true;
    initial-value: 0;
}

.pie {
    --p: 10;
    --b: 15px;
    --c: #2477f4;
    --w-i: 100px;
    --fs-v: 16px;
    --lh-v: 20px;

    position: relative;
    display: inline-grid;
    width: var(--w-i);
    margin: 5px;
    color: #2477f4;
    font-weight: 600;
    font-size: var(--fs-v);
    font-style: normal;
    line-height: var(--lh-v);
    aspect-ratio: 1;
    place-content: center;

    &-helper {
        position: absolute;
        z-index: 10;
        width: 60px;
        height: 60px;
        border: 10px solid #d9e0ef;
        border-radius: 50%;
    }
}

.pie::before,
.pie::after {
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    content: "";
}

.pie::before {
    inset: 0;
    background:
        radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b)
            var(--b) no-repeat,
        conic-gradient(var(--c) calc(var(--p) * 1%), #0000 0);
    mask: radial-gradient(
        farthest-side,
        #0000 calc(99% - var(--b)),
        #000 calc(100% - var(--b))
    );
    mask: radial-gradient(
        farthest-side,
        #0000 calc(99% - var(--b)),
        #000 calc(100% - var(--b))
    );
}

.pie::after {
    inset: calc(50% - var(--b) / 2);
    background: var(--c);
    transform: rotate(calc(var(--p) * 3.6deg))
        translateY(calc(50% - var(--w-i) / 2));
}

.animate {
    animation: p 1s 0.4s both;
}

@keyframes p {
    from {
        --p: 0;
    }
}
