.recomendation {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 16px;
    font-family: "Onest";

    // width: 1216px;
    // height: 88px;

    background: #f7faff;
    border-radius: 12px;

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-family: "Montserrat Alternates";

        & > div:last-child {
            margin-left: auto;
        }
    }

    &-icon {
        margin-right: 4px;
    }

    &-title {
        color: #37476a;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    &-link {
        color: #2477f4;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        cursor:default;
    }

    &-content {
        width: 100%;
        color: #17282f;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        transition: 0.5s;

        & > p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        & > .active {
            white-space: wrap;
        }
    }
}
