.entry-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;

    background: #fff;

    &-content {
        padding: 50px 50px;
        // padding: 50px 85px;
        margin: auto 0;
        max-width: 80%;

        @media screen and (max-width: 1024px) {
            max-width: inherit;
        }
    }

    &-image {
        @media screen and (max-width: 1024px) {
            display: none;
        }

        height: 100vh;
        min-height: 650px;
        width: 100%;
    }
}
