.entry-layout {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-content {
        padding: 50px 85px;
    }

    &-image {
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }
}
