.contentPaint{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    height: 108px;
    background: #F7FAFF;
    border-radius: 32px;
}
.contentPaintText, .contentPaintPercent{
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    display: flex;
    align-items: center;
}
.contentPaintText{
    color: #37476A;
}
.contentPaintPercent{
}

.imk11{
    mask-image: linear-gradient(rgba( 0, 0, 0, 0.5)0%, black 0);
}
.imk1{
    mask-image: linear-gradient(rgba( 0, 0, 0, 0.5) 90%, black 0);
}
.imk2{
    mask-image: linear-gradient(rgba( 0, 0, 0, 0.5) 80%, black 0);
}
.imk3{
    mask-image: linear-gradient(rgba( 0, 0, 0, 0.5) 70%, black 0);
}
.imk4{
    mask-image: linear-gradient(rgba( 0, 0, 0, 0.5) 60%, black 0);
}
.imk5{
    mask-image: linear-gradient(rgba( 0, 0, 0, 0.5) 50%, black 0);
}
.imk6{
    mask-image: linear-gradient(rgba( 0, 0, 0, 0.5) 40%, black 0);
}
.imk7{
    mask-image: linear-gradient(rgba( 0, 0, 0, 0.5) 30%, black 0);
}
.imk8{
    mask-image: linear-gradient(rgba( 0, 0, 0, 0.5) 20%, black 0);
}
.imk9{
    mask-image: linear-gradient(rgba( 0, 0, 0, 0.5) 10%, black 0);
}
