.tabs {
  display: flex;
  width: 40%;
}
.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 6px;
  width: 20%;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #7C8EB5;
  background: rgba(36, 119, 244, 0);
  margin: 8px;
}
.tab:not(:last-child) {
}
.tab.active {
  background: rgba(36, 119, 244, 0.13);
  border-radius: 8px;
  color: #2477F4;
  display: flex;
}

.panel {
  display: none;
  padding: 10px;

}
.panel.active {
  display: block;
  flex-direction: row;
}
.EmotionalScale{
  &-textBloc{
    display: flex;
    flex-direction: row;
    padding: 16px;
    gap: 16px;
    width: 100%;
    background: #F7FAFF;
    border-radius: 12px;
    margin-bottom: 15px ;
  }
  &-text{

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #17282F;
    padding-top: 10px;
  }
  &-textInfTitle{
    font-weight: 500;
  }
  &-block{
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin: 5px;
  }
  &-blockText{
    display: flex;
    flex-direction: row;
  }
  &-Text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #37476A;
  }
}