.input-header {
    position: relative;
    display: flex;
    justify-content: space-between;

    &-label-text {
        padding: 0 10px 0 16px;
        color: #7c8eb5;
        font-family: Montserrat Alternates;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        &_wrong {
            color: #f35b60;
        }
    }

    &-wrong-text {
        padding: 0 0 0 4px;
        color: #f35b60;
        font-weight: 500;
        font-size: 0.75rem;
    }

    &-help-icon {
        color: #b2c2e4;

        & > * {
            pointer-events: none;
        }

        &_selected {
            color: #7c8eb5;
        }
    }

    &-help-window {
        position: absolute;
        top: 72px;
        right: 0;
        z-index: 1;
        width: 385px;
        padding: 16px;
        color: #37476a;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 16px;
        background-color: white;
        border: 1px solid #b2c2e4;
        border-radius: 16px;

        &_hidden {
            display: none;
        }
    }
}
