.AimBlock {
    &-row {
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;
        align-items: center;
        justify-content: start;
        margin: 10px 0;
    }

    &-title {
        display: flex;
        flex-flow: row nowrap;
        gap: 8px;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        color: #37476A;
        font-weight: 600;
        font-size: 16px;
        font-family: "Montserrat Alternates";
    }

    &-aims-count {
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;

        &-circle {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            color: #7C8EB5;
            font-weight: 600;
            font-size: 20px;
            font-family: "Montserrat Alternates";
            background: rgb(173 185 212 / 50%);
            border-radius: 70px;
            cursor: pointer;

            &_active {
                color: #fff;
                background: #2477F4;
            }
        }
    }

    &-grow {
        flex-grow: 1;

    }

    &-btn {
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;
        align-items: center;
        justify-content: center;
        padding: 6px 8px 6px 12px;
        color: #FFF;
        font-weight: 600;
        font-size: 14px;
        font-family: "Montserrat Alternates";
        background: #FFB800;
        border-radius: 8px;
        cursor: pointer;

    }



    &-steps {
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;
        justify-content: space-around;
        width: 100%;
        margin: 10px 0;

        &-item {
            flex-grow: 1;
            padding: 4px;
            color: #7C8EB5;
            font-weight: 500;
            font-size: 20px;
            font-family: "Onest";
            text-align: center;
            border-radius: 8px;

            &_active {
                color: #2477F4;
                background: rgb(36 119 244 / 10%);
            }
        }
    }

    &-modal {
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
        align-items: center;
        justify-content: center;
        max-width: 800px;
        padding: 0 16px;

        &-checkbox {
            &-text {
                color: #7C8EB5;
                font-weight: 500;
                font-size: 16px;
                font-family: "Montserrat Alternates";
                font-style: normal;
                line-height: normal;

                &_strikethrough {
                    text-decoration: line-through;
                    opacity: 0.5;
                }

                &-blue {
                    padding: 5px;
                    color: #2477F4;
                    font-weight: 500;
                    font-size: 12px;
                    font-family: "Montserrat Alternates";
                    font-style: normal;
                    line-height: normal;
                    text-decoration: none !important;
                    opacity: 1;
                }
            }


        }

        &-btn {
            display: flex;
            flex-flow: row nowrap;
            gap: 8px;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 40px;
            border-radius: 9px;

            svg {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;
            }


            &-text {
                font-weight: 500;
                font-size: 16px;
                font-family: "Montserrat Alternates";
            }

        }
    }

    &-empty-msg {
        padding: 12px;
        color: #7C8EB5;
        font-weight: 500;
        font-size: 16px;
        font-family: "Montserrat Alternates";
        font-style: normal;
        line-height: normal;
    }

}