.archive-video {
    display: flex;
    gap: 8px;
    border-radius: 16px;
    background: #fff;
    padding-right: 12px;
    margin-top: 16px;

    &-el {
        position: relative;
        height: 149px;
        width: 260px;
        min-width: 260px;
        background-color: rgb(222, 222, 228);
        border-radius: 12px;
        overflow: hidden;

        & > div:first-child {
            position: absolute;
            //  для чего я это делал*?
            // left: 16px;
            // top: 16px;
        }
    }
    &-panel {
        display: flex;
        gap: 8px;

        &-more {
            position: relative;
        }
    }
}
