.ColorfulTabItem {
    font-weight: 600;
    font-size: 14px;
    font-family: "Montserrat Alternates";
    font-style: normal;
    line-height: 18px;

    &-icon {
        div {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &-tab-list-item {
        display: inline-flex;
        flex-direction: row;
        flex-grow: 1;
        gap:8px;
        align-items: center;
        justify-content: center;
        color: #7c8eb5;
        font-weight: 600;
        font-size: 14px;
        font-family: "Montserrat Alternates";
        cursor: pointer;

        &_active { 
            padding: 8px;
            color: #fff;
            font-weight: 600;
            font-size: 14px;
            font-family: "Montserrat Alternates";
            background-color: #37476A;
            border-radius: 8px;
        }
    }
}
