.EloquenceAllText {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    width: 100%;
    padding: 16px;
    background: #f7faff;
    border-radius: 12px;
}

.textInfTitle {
    font-weight: 500;
}

.Eloquencetext2,
.Eloquencetext1,
.Eloquencetext3 {
    display: flex;
    align-items: center;
    width: 100%;
    color: #17282f;
    font-weight: 400;
    font-size: 16px;
    font-family: "Onest";
    font-style: normal;
    line-height: 20px;
}

.li {
    display: flex;
    align-items: center;
    width: 100%;
    color: rgb(0 0 0 / 46%);
    font-weight: 400;
    font-size: 16px;
    font-family: "Onest";
    font-style: normal;
    line-height: 20px;
}

.textInfTitle1 {
    margin-right: 5px;
    color: #17282f;
}

.EloquenceTextBloc {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
    padding: 16px;
    background: #f7faff;
    border-radius: 12px;
}

.EloquenceTextTitle {
    display: flex;
    align-items: center;
    color: #350a8e;
    font-weight: 700;
    font-size: 18px;
    font-family: "Montserrat Alternates";
    font-style: normal;
    line-height: 20px;
}

.EloquenceTexts {
    display: inline-block;
    width: 100%;
    overflow: auto;
    color: #17282f;
    font-weight: 400;
    font-size: 16px;
    font-family: "Onest";
    line-height: 20px;
}

.blocWords {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-right: 16px;
    padding: 4px 12px;
    color: #37476a;
    font-weight: 500;
    font-size: 20px;
    font-family: "Onest";
    font-style: normal;
    line-height: normal;
    background: #fff;
    border-radius: 8px;
}

.EloquenceTextWords {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}

.countWords {
    margin-left: 6px;
    color: rgb(53 10 142 / 50%);
    font-weight: 600;
    font-size: 16px;
    font-family: "Montserrat Alternates";
    font-style: normal;
    line-height: normal;
}

.strings {
    color: rgb(3 28 61 / 70%);
    font-weight: 400;
    font-size: 20px;
    font-family: "Onest";
    font-style: normal;
    line-height: normal;
}
