.EloquenceAllText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    width: 100%;
    background: #F7FAFF;
    border-radius: 12px;
}
.textInfTitle{
    font-weight: 500;
}
.Eloquencetext2, .Eloquencetext1, .Eloquencetext3{
    font-family: 'Onest';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    color: #17282F;
}

.li{
    font-family: 'Onest';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    color: rgba(0, 0, 0, 0.46);
}
.textInfTitle1{
    color: #17282F;
    margin-right: 5px ;
}

.EloquenceTextBloc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    width: 100%;
    background: #F7FAFF;
    border-radius: 12px;
    margin-top: 10px;
}
.EloquenceTextTitle{
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #350A8E;
}
.EloquenceTexts{
    font-family: "Onest";
    width: 100%;
    display: inline-block;
    overflow: auto;
    font-size: 16px;
    line-height: 20px;
    color: #17282f;
    font-weight: 400;
}
.blocWords{
    display: flex;
    padding: 4px 12px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #FFF;
    margin-right: 16px;
    color: #37476A;
    font-size: 20px;
    font-family: Onest;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.EloquenceTextWords{
    display: flex;
    justify-content: start;
}
.countWords{
    color: rgba(53, 10, 142, 0.50);
    font-size: 16px;
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 6px;
}
.strings{
    color: rgba(3, 28, 61, 0.70);
    font-size: 20px;
    font-family: Onest;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
