.EloquenceAllText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    width: 100%;
    background: #F7FAFF;
    border-radius: 12px;
}
.textInfTitle{
    font-weight: 500;
}
.Eloquencetext2, .Eloquencetext1, .Eloquencetext3{
    font-family: 'Onest';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    color: #17282F;
}

.li{
    font-family: 'Onest';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    color: rgba(0, 0, 0, 0.46);
}
.textInfTitle1{
    color: #17282F;
}

.EloquenceTextBloc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    width: 100%;
    background: #F7FAFF;
    border-radius: 12px;
    margin-top: 10px;
}
.EloquenceTextTitle{
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #350A8E;
}
.EloquenceTexts{
    font-family: "Onest";
    width: 100%;
    display: inline-block;
    overflow: auto;
    font-size: 16px;
    line-height: 20px;
    color: #17282f;
    font-weight: 400;
}
.blocWords{
    align-items: center;
    padding: 4px 12px;
    gap: 8px;
    height: 34px;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 5px;
}
.EloquenceTextWords{
    display: flex;
    justify-content: start;
}
