.graph-pointer {
    position: absolute;
    display: flex;
    flex-direction: column;

    align-items: center;
    font-size: 0.75rem;
    font-weight: 500;
    color: white;
    height: 90%;

    &-title {
        flex: 0 0 auto;
        background-color: #2477f4;
        padding: 6px;
        border-radius: 28px;
        cursor: pointer;
    }

    &-stick {
        width: 2px;
        flex: 1 0 auto;
        background-color: #2477f4;
        cursor: pointer;
    }
}
