.base-graph-background {
    position: absolute;
    display: flex;
    height: 100%;

    // $line-color: black;
    $line-color: #e2e9f7;

    &-header {
        height: 10px;
        border-style: dashed;
    }

    &-section {
        width: 62px;
    }

    &-section-stats {
        width: 72px;
    }

    &-section,
    &-section-stats {
        display: flex;
        flex-direction: column;
        border-right: 1px dashed $line-color;

        &_first {
            border-style: dashed;
            border-left: 1px dashed $line-color;
        }
    }

    &-subsection {
        flex: 1 0 auto;
        border-style: dashed;
        border-top: 1px solid $line-color;
    }
}
