.password-restore-page {
    &-link {
        font-weight: 500;
        display: block;
        padding: 16px 0;
        font-size: 1.25rem;
    }

    &-title {
        font-size: 2rem;
        color: #37476a;
    }

    &-description {
        padding: 16px 0 32px 0;
        font-size: 1.25rem;
    }

    &-next-button {
        width: 100%;
        margin: 32px 0 0 0;
    }
}
