.new-input {
    display: flex;
    align-items: center;
    padding: 8px 0;

    &-input {
        width: 100%;
        padding: 18px 16px;

        background: transparent;
        border: 2px solid #b2c2e4;
        border-radius: 16px;

        color: #37476A;
        font-family: Montserrat Alternates;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        &_password {
            padding: 18px 45px 18px 16px;
        }

        &:focus {
            border-color: #2477f4;
        }

        &_invalid {
            border-color: #f35b60;
        }

        &_numeric {

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button,
            & {
                margin: 0;
                appearance: none;
                appearance: textfield !important;
            }
        }

        &::placeholder {
            color: #7C8EB5;
            font-family: Montserrat Alternates;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }


    &-eye {
        margin-left: -45px;
        cursor: pointer;
    }
}