.entry-page-personal {
    padding: 32px 0;

    &-header {
        text-transform: uppercase;
        font-weight: 700;
        padding: 16px 0;
    }

    &-phrase {
        display: block;
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 700;
    }

    &-subphrase {
        display: block;
        font-size: 1.25rem;
        padding: 8px 0;
    }

    &-labels {
        padding: 32px 0;
    }

    &-label {
        display: flex;
        flex-direction: column;
        padding: 8px 0;
        font-weight: 500;
        & input {
            border: 2px solid #b2c2e4;
            border-radius: 16px;
            padding: 18px 16px;
            font-size: 1.25rem;
        }

        & span {
            padding: 4px 16px;
            font-weight: 600;
        }
    }

    &-footer {
        display: block;
        font-size: 0.75rem;
    }
}
