
.video-block{
  
    &-video-grid{
       display: grid;
       grid-template-columns: repeat(3, 1fr);;
       grid-template-rows: repeat(2, 300px);
       gap: 16px;
       justify-items: center;
       align-items: stretch;
       justify-content: space-between;
       align-content: space-around;
    }
}

