.allEmotionality{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    box-sizing: border-box;
    width:100%;
    padding: 16px 8px;
    background: #FFF;
    isolation: isolate;
}

.imgAllEmotionality{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width:100%;
}

.textEmotionality{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 25px;
}

