.primary-info {

    &-inputs {
        padding: 16px 0 0 0;
    }

    &-next-button {
        margin: 16px 0;
        width: 100%;
    }

    &-legal {
        font-size: 0.75rem;
        line-height: 16px;
        color: #7C8EB5;
    }
}