.expressiveness {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 1rem 1.5rem;
    background: #f7faff;
    border-radius: 12px;

    &-descript {
        // надо сделать динамически
        display: flex;
        flex-direction: column;
        overflow: auto;
        color: #17282f;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        &-bold {
            font-weight: 500;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 0 0.5rem;
    }

    &-marker {
        display: flex;
        flex-direction: row;
        gap: 10px;

        & > div:first-child {
            width: 20px;
            height: 20px;
            border-radius: 4px;
        }
    }

    &-title {
        color: #37476a;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }

    &-item {
        display: flex;
        gap: 8px;
        align-items: center;

        &_choised {
            color: #2477f4 !important;
            background: rgb(36 119 244 / 10%);
            border-radius: 8px;
        }
    }

    &-time {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 20px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        border-radius: 4px;
    }

    &-analysis,
    &-analysis-open {
        display: flex;
        align-items: center;
        padding: 4px 0;
        color: #37476a;
        font-weight: 700;
        font-size: 16px;
        font-family: "Montserrat Alternates";
        line-height: 20px;
    }

    &-analysis-open {
        margin-left: auto;
    }

    &-set {
        margin-right: 24px;
    }

    &-menu {
        display: flex;
        flex-wrap: nowrap;
        gap: 12px;
    }

    &-menu:last-child {
        .expressiveness-link:last-child {
            width: 40px;
            text-align: center;
        }
    }

    &-item,
    &-item-open {
        padding: 8px 12px;
        color: #7c8eb5;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        cursor: pointer;

        &_choised {
            color: #2477f4 !important;
            background: rgb(36 119 244 / 10%);
            border-radius: 8px;
        }
    }

    &-graph > img {
        width: 100%;
    }

    &-choise {
        color: #2477f4;
        background: rgb(36 119 244 / 10%);
        border-radius: 8px;
    }
}
