.first-step {
    &-header {
        text-transform: uppercase;
        font-weight: 700;
        padding: 48px 0 16px 0;

        & > * {
            padding-right: 16px;
        }
    }

    &-phrase {
        display: block;
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 700;
    }

    &-subphrase {
        display: block;
        font-size: 1.25rem;
        padding: 8px 0;
    }

    &-details-link {
        font-size: 1.25rem;
        font-weight: 500;
    }

    &-inputs {
        padding: 32px 0;
    }

    &-button {
        width: 100%;
    }

    &-footer {
        display: block;
        font-size: 0.75rem;
        padding: 16px 0;
    }
}
