.AnalysisReport {
    font-family: "Montserrat Alternates";
    font-size: 20px;
    line-height: 26px;

    &-btn-back {
    
        &-span{
            font-family: "Montserrat Alternates";
            color: #37476a;
            font-weight: 600;
            font-size: 16px; 
            
            cursor: pointer;

            display: inline-flex;
            gap: 10px;
        }
    }

    &-whiteBlock {
        background: #ffffff;
        border-radius: 16px;
        padding: 10px;
        margin: 20px 0;
        width: 100%;
        overflow: hidden;
    }

    &-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 550px;

        gap: 15px;
        width: 100%;
    }

    &-video-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        &-video{
            overflow: hidden;
            border-radius: 10px;

            video{
                max-height: 420px;
            }
        }

        &-title {
            max-width: 700px;
            color: #000;
            font-size: 20px;
            font-family: "Onest";
            font-weight: 500;
            padding: 5px 10px;
        }

        &-description {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: flex-start;

            color: #7c8eb5;
            font-size: 16px;
            font-family: "Onest";
            padding: 0 10px;
        }
    }
    &-col {
        display: flex;
        flex-direction: column;

        gap: 15px;
        margin: 0 10px;
    }
    &-col-grow {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 1;
    }

    &-row {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    &-row-justify {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    &-conclusion {
        &-title {
            display: flex;
            flex-flow: row nowrap;
            padding: 10px 0;

            &-icon {
                padding: 0 8px;
                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                }
            }

            &-text {
                color: #37476a;
                font-size: 24px;
                font-family: "Montserrat Alternates";
                font-weight: 600;
            }
        }

        &-desciption {
            &-text {
                color: #37476a;
                font-size: 16px;
                font-family: "Onest";
                font-weight: 400;
                
            }
        }
    }

    &-width {
        width: 100%;
        padding: 0 20px;
    }

    &-width-max {
        width: 100%;
    }

    &-transrciption{
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
        overflow:auto;
        height: 85%;
    }
}
