.login-page {
    padding: 16px 0;


    &-inputs {
        padding: 48px 0 32px 0;
    }

    &-next-button {
        width: 100%;
        margin: 32px 0 0 0;
        
    }

    &-span {
        color: #37476A;
        font-family: Montserrat Alternates;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &-link {
        color: #2477F4;
        font-family: Montserrat Alternates;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}