.login-page {
    padding: 16px 0;

    &-inputs {
        padding: 48px 0 32px 0;
    }

    &-next-button {
        width: 100%;
        margin: 32px 0 0 0;
    }

    &-link {
        font-weight: 500;
    }
}
