.TimerRadioBtn {
    display: flex;
    flex-flow: column nowrap;

    &-row {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        padding-top: 10px;
        padding-left: 42px;
    }

    &-text {
        color: #37476A;
        font-weight: 400;
        font-size: 16px;
        font-family: "Onest";
        font-style: normal;
        line-height: normal;
    }

    &-input {
        &-block {
            display: flex;
            flex-flow: row nowrap;
            gap: 8px;
            align-items: center;
            justify-content: center;
            margin: 0 10px;
            padding: 3px 10px;
            background: #F3F5F9;
            border-radius: 8px;
        }

        &-field {
            width: 40px;
            color: #37476A;
            font-weight: 600;
            font-size: 16px;
            font-family: "Montserrat Alternates";
            font-style: normal;
            line-height: normal;
            text-align: center;
            background: none;
            border: none;

            &_onblur{
                color: red;
            }
        }
    }
}