.radio-main {
    font-size: 18px;
    line-height: 20px;

    &-title {
        padding-bottom: 10px;
        color: #031c3d;
        font-weight: 600;
        font-size: 20px;
        font-family: "Montserrat Alternates";
        font-style: normal;
        line-height: 24px;
    }

    &-col-answers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2px;
        justify-items: start;

        &-item {
            display: flex;
            flex-direction: row;
            gap: 12px;
            align-items: center;
            justify-content: center;
            padding-top: 10px;
            color: #7c8eb5;
            font-family: "Montserrat Alternates";

            &-icon {
                width: 24px;
                height: 24px;
            }

            &-label {
                font-weight: 600;
                font-size: 1em;
                font-family: "Montserrat Alternates";
                font-style: normal;
                line-height: 1em;
                cursor: pointer;
                user-select: none;

                // &-radio
                &-radio:checked,
                &-radio:not(:checked) {
                    display: none;
                }

                &-radio:checked + &-custom-radio__label,
                &-radio:not(:checked) + &-custom-radio__label {
                    position: relative;
                    display: inline-block;
                    margin-bottom: 5px;
                    padding: 6px 0 0 40px;
                }

                &-radio:not(:checked) + &-custom-radio__label::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 28px;
                    height: 28px;
                    border: 2px solid #b2c2e4;
                    border-radius: 8px;
                    content: "";
                }

                &-radio:checked + &-custom-radio__label::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 32px;
                    height: 32px;
                    background: #2477f4;
                    border-radius: 8px;
                    outline: 2px solid #fff;
                    outline-offset: -4px;
                    content: "";
                }

                &-radio:checked + &-custom-radio__label::after {
                    // content: '';
                    // width: 24px;
                    // // width: 1.3em;
                    // height: 24px;
                    // left: 4px;
                    // top: 4px;
                    // position: absolute;
                    // background: #2477F4;
                    // border-radius: 6px;
                    // // z-index: 1;

                    // background-repeat: no-repeat;
                    // background-position: center center;
                    // background-size: 50% 50%;
                    // background-image: url("./images/rectangle-answer.png");
                }
            }
        }

        &_checked {
            color: #fff;
            background: #2477f4;
            box-shadow: 0 0 14px rgb(124 142 181 / 25%);
            fill: #fff;
        }
    }

    &-block-answers {
        display: flex;
        flex-flow: row wrap;
        gap: 12px;
        align-items: center;
        width: 100%;

        &-item {
            display: flex;
            flex-direction: row nowrap;
            gap: 12px;
            align-items: flex-start;
            justify-content: start;
            width: 100%;
            color: #7c8eb5;

            // background: red;
            border-radius: 9px;
            // fill: #7C8EB5;

            &-icon {
                width: 24px;
                height: 24px;
            }

            &-label {
                font-weight: 600;
                font-size: 1em;
                font-family: "Montserrat Alternates";
                font-style: normal;
                line-height: 1em;
                cursor: pointer;
                user-select: none;

                &-radio {
                    display: none;
                }

                &-radio:checked,
                &-radio:not(:checked) {
                    display: none;
                }

                &-radio:checked + &-custom-radio__label,
                &-radio:not(:checked) + &-custom-radio__label {
                    position: relative;
                    display: inline-block;
                    margin-bottom: 5px;
                    padding: 6px 0 0 40px;
                }

                &-radio:not(:checked) + &-custom-radio__label::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 28px;
                    height: 28px;
                    border: 2px solid #b2c2e4;
                    border-radius: 8px;
                    content: "";
                }

                &-radio:checked + &-custom-radio__label::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 32px;
                    height: 32px;
                    background: #2477f4;
                    border-radius: 8px;
                    outline: 2px solid #fff;
                    outline-offset: -4px;
                    content: "";
                }
            }
        }
    }

    &-icon-rows {
        display: flex;
        flex-flow: row wrap;
        gap: 12px;
        align-items: center;
        width: 100%;

        &-item {
            display: flex;
            flex-direction: row;
            gap: 12px;
            align-items: center;
            justify-content: center;
            padding: 10px;
            color: #7c8eb5;
            background: rgb(36 119 244 / 10%);
            border-radius: 9px;
            fill: #7c8eb5;

            &-icon {
                display: inline;
                width: 24px;
                height: 24px;
            }

            &-label {
                font-weight: 600;
                font-size: 1em;
                font-family: "Montserrat Alternates";
                font-style: normal;
                line-height: 1em;
                cursor: pointer;
                user-select: none;

                &-radio {
                    display: none;
                }
            }

            &_checked {
                color: #fff;
                background: #2477f4;
                box-shadow: 0 0 14px rgb(124 142 181 / 25%);
                fill: #fff;
            }
        }
    }

    &-another {
        width: 100%;
        padding: 12px;
        font-family: "Montserrat Alternates";

        &-label {
            display: flex;
            flex-flow: row wrap;
            gap: 10px;
            align-items: center;
            justify-content: flex-start;
            color: #7c8eb5;
            font-weight: 600;
            font-size: 1em;
            font-style: normal;
            line-height: 1em;

            &-radio:checked,
            &-radio:not(:checked) {
                display: none;
            }

            &-radio:checked + &-custom-radio__label,
            &-radio:not(:checked) + &-custom-radio__label {
                position: relative;
                display: inline-block;
                margin-bottom: 5px;
                padding: 6px 0 0 40px;
            }

            &-radio:not(:checked) + &-custom-radio__label::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 28px;
                height: 28px;
                border: 2px solid #b2c2e4;
                border-radius: 8px;
                content: "";
            }

            &-radio:checked + &-custom-radio__label::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 32px;
                height: 32px;
                background: #2477f4;
                border-radius: 8px;
                outline: 2px solid #fff;
                outline-offset: -4px;
                content: "";
            }

            &-input-text {
                flex-grow: 1;
                align-self: stretch;
                height: 50px;
                padding-left: 1em;
                color: #7c8eb5;
                font-size: 1em;
                border: 2px solid #b2c2e4;
                border-radius: 16px;
            }

            &-input-text::placeholder {
                color: #7c8eb5;
                font-weight: 500;
                font-size: 1em;
                font-style: normal;
            }
        }
    }
}
