.SettingsStart {
    &-text {
        &-h1 {
            color: #17282f;
            color: red;
            font-size: 24px;
            font-family: "Montserrat Alternates";
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            padding: 10px 0;
        }

        &-gray {
            color: #7c8eb5;
            color: red;
            font-size: 24px;
            font-family: "Montserrat Alternates";
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }
}

.personal-area {
}
