.NotificationItem {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    background: #f3f5f9;
    border-radius: 12px;

    &_blue {
        color: #fff;
        background: #2477f4;
    }

    &-circle {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 0.7em;
        height: 0.7em;
        background: #ffb800;
        border-radius: 50%;

        &_visible {
            display: inline-block;
        }
    }

    &-icon {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    &-col {
        display: flex;
        flex-flow: column nowrap;
        padding-left: 8px;
    }

    &-title {
        color: #37476a;
        font-weight: 600;
        font-size: 14px;
        font-family: "Montserrat Alternates";
        line-height: normal;

        &_white {
            color: #fff;
        }
    }

    &-description {
        color: #7c8eb5;
        font-weight: 400;
        font-size: 14px;
        font-family: "Onest";
        line-height: normal;

        &_white {
            color: rgb(255 255 255 / 70%);
        }
    }

    &-link {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;
        width: auto;
        padding: 6px 6px 6px 10px;
        font-weight: 600;
        font-size: 12px;
        font-family: "Montserrat Alternates";
        font-style: normal;
        line-height: normal;
        background: #ffb800;
        border-radius: 6px;
        cursor: pointer;

        &-icon {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            rotate: -90deg;

            svg {
                width: 10px;
            }
        }
    }
}
