.VideoModalContent {
    max-width: 1200px;

    &-video-row {

        display: grid;
        grid-template-rows: min-content;
        grid-template-columns: 800px 1fr;
        gap: 14px;
        max-height: 450px;

        &-videoplayer {
            width: auto;
            height: auto;
            max-height: 450px;
            overflow: hidden;

            video {
                max-height: 450px;
            }
        }

        &-description {
            display: flex;
            flex-flow: column nowrap;

            &-title-row {
                display: flex;
                flex-flow: row nowrap;
                gap: 10px;
                align-items: flex-start;
                justify-content: space-between;

                &-text {
                    padding-bottom: 10px;
                    color: #000;
                    font-weight: 500;
                    font-size: 1.5rem;
                    font-style: normal;
                    line-height: 24px;
                }

                &-closebutton {
                    align-self: flex-start;
                    cursor: pointer;
                    fill: #7C8EB5;
                }

                &-closebutton:hover {
                    fill: #000b22;
                }

            }

            &-times {
                color: #7C8EB5;
                font-weight: 400;
                font-size: 16px;
                font-family: "Onest";
                font-style: normal;
                line-height: 20px;
            }

            &-author-block {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: start;
                padding: 8px 0;

                &-logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 28px;
                    height: 28px;
                    margin-right: 10px;
                    overflow: hidden;
                    border-radius: 100%;

                    &-img {
                        width: 100%;
                        height: 100%;
                    }
                }

                &-name {
                    color: #37476A;
                    font-weight: 600;
                    font-size: 16px;
                    font-family: "Montserrat Alternates";
                    font-style: normal;
                    line-height: 17px;
                }
            }

            &-annotation {
                &-title {
                    padding: 10px 0;
                    color: #7C8EB5;
                    font-weight: 500;
                    font-size: 12px;
                    font-family: "Onest";
                    font-style: normal;
                    line-height: 13px;
                }

                &-text {
                    flex-grow: 1;
                    overflow-y: auto;
                    color: #000;
                    font-weight: 400;
                    font-size: 18px;
                    font-style: normal;
                    line-height: 20px;
                }
            }

            &-btn-info {
                display: flex;
                gap: 8px;
                align-items: center;
                justify-content: center;
                width: 100%;

                // margin-top: 20px;
                padding: 16px;
                color: #FFF;
                font-weight: 600;
                font-size: 1rem;
                font-family: "Montserrat Alternates";
                font-style: normal;
                background-color: #FFB800;
                border: 0;
                border-radius: 9px;

                &-icon svg {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &_not_allowed {
                    cursor: not-allowed;
                }
            }
        }
    }

    

    &-analyze-row {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
        align-items: start;
        justify-content: space-between;
        justify-items: stretch;
        width: 100%;
        padding-top: 20px;
        font-family: "Montserrat Alternates";

        &-item {
            display: flex;
            flex-flow: column nowrap;
            align-content: center;
            align-items: center;
            justify-content: center;

            &-pie {
                --p: 20;
                --b: 13px;
                --c: #2477F4;
                --w: 85px;

                position: relative;
                display: inline-grid;
                width: var(--w);
                margin: 5px;
                color: var(--c);
                font-weight: 600;
                font-size: 14px;
                font-style: normal;
                line-height: 20px;
                aspect-ratio: 1;
                place-content: center;
                animation: p 1s .4s both;

                &-text {
                    color: #37476A;
                    font-weight: 600;
                    font-size: 14px;
                    font-style: normal;
                    line-height: 15px;
                    text-align: center;
                }

                &::before,
                &::after {
                    position: absolute;
                    border-radius: 50%;
                    content: "";
                }

                &::before {
                    inset: 0;
                    background:
                        radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat,
                        conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
                    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
                    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
                }

                &::after {
                    inset: calc(50% - var(--b)/1.95);
                    background: var(--c);
                    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
                }
            }
        }

    }

    @media (max-height: 700px) { 
        &-video-row { 
            max-height: 300px; 
            &-videoplayer {
                max-height: 300px;
                video {
                    max-height: 300px;
                }
            }
        }
    }
}

@property --p {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

@keyframes p {
    from {
        --p: 0
    }
}