.header {
    flex: 0 0 auto;
    padding: 0 0 0 120px;

    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 40px;
    }
}
