.archive-video {
    display: flex;
    gap: 8px;
    margin-top: 16px;
    padding-right: 12px;
    background: #fff;
    border-radius: 16px;

    &-el {
        position: relative;
        width: 260px;
        height: 149px;
        overflow: hidden;
        background-color: rgb(222 222 228);
        border-radius: 12px;
    }

    &-tick {
        position: absolute;
        top: 16px;
        left: 16px;
    }

    &-panel {
        display: flex;
        gap: 8px;
        width: 100%;

        &-more {
            position: relative;
        }
    }
}
