.bricked-graph-brick {
    position: absolute;

    &_solid {
        border-radius: 4px;
        height: 24px;
    }

    &_thin {
        height: 8px;
        border-radius: 2px;
    }

    &_line {
        height: 2px;
    }

    &-tooltip {
        padding: 8px 12px !important;
        max-width: 450px !important;
        z-index: 100;
        border-radius: 12px !important;
        border: 1px solid #7C8EB5;
        background: #FFF !important;
        line-height: 12px !important;
        box-shadow: 2px 2px 12px 0px rgba(173, 185, 212, 0.30);

        &-text{
            color: #37476A;
            font-size: 12px;
            
            font-family: "Onest";
            font-weight: 500;
        }
    }
}
