.chat-message {
    &-wrapper {
        margin: 4px;

        &_mine {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
        &_other {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
    }
    &_triangle {
        &_mine {
            width: 0px;
            height: 0px;
            border-left: 14px solid #e4eaf5;
            border-bottom: 8px solid transparent;
            border-top: 8px solid transparent;

            margin: 16px 0 0 0;
            flex: 0 0 auto;
        }
        &_other {
            width: 0px;
            height: 0px;
            border-right: 14px solid #0557cd;
            border-bottom: 8px solid transparent;
            border-top: 8px solid transparent;

            margin: 16px 0 0 0;
            flex: 0 0 auto;
        }
    }

    &-actual {
        padding: 8px 8px 8px 12px;
        border-radius: 16px;
        min-width: 50%;

        &_mine {
            background: #e4eaf5;
            color: #37476a;
        }

        &_other {
            background: linear-gradient(
                310.91deg,
                #3aa0ff 0.21%,
                #0050c9 100.21%
            );
            color: white;
        }
    }

    &-header {
        padding: 0 0 4px 0;

        &_sender {
            &_name {
                font-weight: 700;
                font-size: 0.75rem;
                padding: 0 2px 0 0;
            }

            &_description {
                color: rgba(255, 255, 255, 0.7);
            }

            &_info {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    &-reply {
        display: flex;
        gap: 0.3rem;
        height: 20px;

        &-icon > div > svg {
            height: 10px;
            width: 10px;
            fill: rgba(255, 255, 255, 0.7);
        }

        &-msg {
            color: rgba(255, 255, 255, 0.7);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
