.chat-message {
    &-wrapper {
        margin: 4px;

        &_mine {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        &_other {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    &_triangle {
        &_mine {
            flex: 0 0 auto;
            width: 0;
            height: 0;
            margin: 16px 0 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 14px solid #e4eaf5;
        }

        &_other {
            flex: 0 0 auto;
            width: 0;
            height: 0;
            margin: 16px 0 0;
            border-top: 8px solid transparent;
            border-right: 14px solid #0557cd;
            border-bottom: 8px solid transparent;
        }
    }

    &-actual {
        min-width: 50%;
        padding: 8px 8px 8px 12px;
        border-radius: 16px;

        &_mine {
            color: #37476a;
            background: #e4eaf5;
        }

        &_other {
            color: white;
            background: linear-gradient(
                310.91deg,
                #3aa0ff 0.21%,
                #0050c9 100.21%
            );
        }
    }

    &-header {
        padding: 0 0 4px;

        &_sender {
            &_name {
                padding: 0 2px 0 0;
                font-weight: 700;
                font-size: 0.75rem;
            }

            &_description {
                color: rgb(255 255 255 / 70%);
            }

            &_info {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    &-reply {
        display: flex;
        gap: 0.3rem;
        height: 20px;

        &-icon > div > svg {
            width: 10px;
            height: 10px;
            fill: rgb(255 255 255 / 70%);
        }

        &-msg {
            overflow: hidden;
            color: rgb(255 255 255 / 70%);
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
