.blockEmotionalArousal{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: 33.3%;
    margin: 5px;
    padding: 16px;
    background: #F7FAFF;
    border-radius: 32px;
}

.allEmotionalArousal{
    display: flex;
    justify-content: space-between ;
    width: 100%;
    background: #fff;
}

.textEmotionalArousal{
    display: flex;
    align-items: center;
    color: #37476A;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    line-height: 20px;
    text-align: center;}

.tEmotionalArousal{
    display: flex;
    align-items: center;
    color: #7C8EB5;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Onest';
    font-style: normal;
    line-height: 20px;
    text-align: center;
}

.imkEmotionalArousal{
    mask-image: linear-gradient(rgb( 0 0 0 / 50%) 0%, black 0);
}

.imkEmotionalArousal1{
    mask-image: linear-gradient(rgb( 0 0 0 / 50%) 100%, black 0);
}
