.chat-footer {
    z-index: 10;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 0 0 32px 32px;

    &-row {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        gap: 10px;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0.5rem 1.5rem 1.5rem;
    }

    &-send-area {
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        font-size: 0.75rem;
        background-color: #f3f5f9;
        border-radius: 8px;
    }

    &-textarea {
        flex: 0 auto;
        width: 100%;
        height: 50px;
        padding: 20px 0 0 8px;
        overflow: auto;
        font-family: "Onest";
        word-break: break-word;

        &[contenteditable="true"]:empty::before {
            display: block;

            /* For Firefox */
            color: #7c8eb5;
            // https://stackoverflow.com/a/61659129
            content: attr(placeholder);
            pointer-events: none;
        }
    }

    &-send-btn {
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        height: 50%;
        padding: 0 18px 0 5px;
        background-color: #f3f5f9;
        border-radius: 0 8px 8px 0;

        & svg {
            cursor: pointer;
        }
    }

    &-loading {
        display: flex;
        justify-content: center;
        color: #7c8eb5;
        font-size: 0.75rem;
        font-family: "Onest";

        &-animate {
            display: inline-block;
            color: #7c8eb5;
            font-size: 0.75rem;
            font-family: "Onest";
            animation: fade-out 2s infinite ease-in-out;
            clip-path: inset(0 30px 0 0);
        }

        @keyframes fade-out {
            to {
                clip-path: inset(0 -24px 0 0);
            }
        }
    }
}
