.chat-footer {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    background: white;
    border-radius: 0 0 32px 32px;
    z-index: 10;

    &-row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-grow: 1;
        width: 100%;
        gap: 10px;
        padding: 0.5rem 1.5rem 1.5rem 1.5rem;
    }

    &-send-area {
        display: flex;

        align-content: center;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        background-color: #f3f5f9;

        width: 100%;

        border-radius: 8px;

        flex: 0 0 auto;

        font-size: 0.75rem;
        height: 50px;
    }

    &-textarea {
        width: 100%;
        flex: 0 auto;
        height: 50px;
        padding: 20px 0 0 8px;
        word-break: break-word;
        font-family: "Onest";
        overflow: auto;

        &[contenteditable="true"]:empty:before {
            // https://stackoverflow.com/a/61659129
            content: attr(placeholder);
            pointer-events: none;
            display: block;
            /* For Firefox */
            color: #7c8eb5;
        }
    }

    &-send-btn {
        background-color: #f3f5f9;
        flex: 0 0 auto;
        padding: 0 18px 0 5px;
        border-radius: 0 8px 8px 0;
        height: 50%;
        display: flex;
        align-items: center;

        & svg {
            cursor: pointer;
        }
    }

    &-loading {
        display: flex;
        justify-content: center;
        font-family: "Onest";
        color: #7c8eb5;
        font-size: 0.75rem;

        &-animate {
            font-family: "Onest";
            color: #7c8eb5;
            font-size: 0.75rem;
            display: inline-block;
            clip-path: inset(0 30px 0 0);
            animation: fade-out 2s infinite ease-in-out;
        }

        @keyframes fade-out {
            to {
                clip-path: inset(0 -24px 0 0);
            }
        }
    }
}
