.chat-footer {
    height: 72px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    &-send-area {
        background-color: #f3f5f9;
        height: 50%;
        width: 75%;
        overflow: hidden;
        border-radius: 8px 0 0 8px;
        display: flex;
        align-items: center;
        padding: 0 5px;
        flex: 0 0 auto;
        max-width: 90%;
        overflow: hidden;
        font-size: 0.75rem;
    }

    &-textarea {
        flex: 1 0 auto;
        padding: 0 0 0 8px;
        word-break: break-word;

        &[contenteditable="true"]:empty:before {
            // https://stackoverflow.com/a/61659129
            content: attr(placeholder);
            pointer-events: none;
            display: block; /* For Firefox */
            color: #7c8eb5;
        }
    }

    &-send-btn {
        background-color: #f3f5f9;
        flex: 0 0 auto;
        padding: 0 18px 0 5px;
        border-radius: 0 8px 8px 0;
        height: 50%;
        display: flex;
        align-items: center;

        & svg {
            cursor: pointer;
        }
    }
}
