.breakdown_block {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.25rem;
    width: 100%;
    max-height: 320px;
    margin-bottom: 16px;
    overflow: auto;
}

.citation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 1rem 1.5rem;
    background: #f7faff;
    border-radius: 12px;

    &-marker {
        display: flex;
        flex-direction: row;
        gap: 10px;

        & > div:first-child {
            width: 20px;
            height: 20px;
            border-radius: 4px;
        }
    }

    &-title {
        color: #37476a;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }

    &-item {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    &-time {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 20px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        border-radius: 4px;
    }

    &-original {
        color: #7c8eb5;
        background: #f7faff;
    }

    &-citation {
        color: #fff;
        background: linear-gradient(48.4deg, #ffb800 -18.18%, #f90 105.3%);
    }

    &-selfCitation {
        color: #fff;
        background: linear-gradient(42.13deg, #8540fd -25.36%, #af1ff2 130.25%);
    }

    &-borrowing {
        color: #fff;
        background: linear-gradient(
            32.08deg,
            rgb(36 119 244) 0%,
            rgb(58 134 250) 100%
        );
    }

    &-description {
        width: 100%;
        padding: 10px;
        color: #37476a;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        background: #f7faff;
        border-radius: 8px;

        & > a {
            font-weight: 500;
            text-decoration: none;
        }
    }

    &-original_text {
        & > a {
            color: #37476a;
        }
    }

    &-citation_text {
        & > a {
            color: #f5b40c;
        }
    }

    &-selfCitation_text {
        & > a {
            color: #9532f8;
        }
    }

    &-borrowing_text {
        & > a {
            color: #2477f4;
        }
    }

    &-help-content {
        position: absolute;
        display: none;
        gap: 16px;
        padding: 8px 12px;
        background: #fff;
        border: 1px solid;
        border-radius: 12px;
        box-shadow: 2px 2px 12px 0 rgb(173 185 212 / 30%);
    }

    &-link:hover {
        .citation-help-content {
            display: inline-flex;
        }
    }
}
