.RollUp {
    &-header {
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;
        align-items: center;
        justify-content: start;
        padding: 10px 0;
    }

    &-icon {
        svg {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
        }
    }

    &-title {
        color: #37476a;
        font-weight: 600;
        font-size: 16px;
        font-family: "Montserrat Alternates";
    }

    &-btn {
        padding: 0 20px;
        color: #2477f4;
        font-weight: 500;
        font-size: 16px;
        font-family: "Montserrat Alternates";
        cursor: pointer;
    }

    &-content {
        padding: 15px 0;
    }
}
