.cnPreview {
    &-row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 15px;
        padding-bottom: 8px;
    }

    &-col {
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        align-items: start;
        width: 100%;
        gap: 10px;
    }

    &-title {
        display: flex;
        flex-flow: column nowrap;
        gap: 8px;

        &-videoname {
            font-family: "Onest";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
        }

        &-characters {
            font-family: "Onest";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #7c8eb5;
        }
    }

    &-input {
        font-family: "Onest";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #37476a;
        border-color: #b2c2e4;
        border: 1px solid #b2c2e4;
        border-radius: 12px;
    }
    &-input::placeholder{
        font-family: 'Onest';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #37476A;
    }

    &-input-block {
        width: 100%;
        text-align: start;

        &-title {
            font-family: "Montserrat Alternates";
            font-style: normal;

            &-gray {
                @extend .cnPreview-input-block-title;
                
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                color: rgba(124, 142, 181, 0.5);

                &-bold {
                    @extend .cnPreview-input-block-title-gray;

                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    color: #7c8eb5;
                }
            }
        }
    }

    &-video-block {
        max-width: 600px;
    }

    &-btn {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap:10px;
        height: 40px;
        align-items: center;

        &-text {
            font-family: "Montserrat Alternates";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
        }

        &-gray {
            @extend .cnPreview-btn-text;
            @extend .cnPreview-btn;
            width: 100%;
            background: #f3f5f9;
            color: #2477f4;
            border-radius: 9px;
        }

        &-blue {
            @extend .cnPreview-btn-text;
            @extend .cnPreview-btn;
            border-radius: 9px;
            width: 100%;

            &_error{
                cursor: not-allowed;
            }
        }
    }

    &-error{

        background-color: #ffff;
        padding: 10px;
        border-radius: 16px;

        &-icon{

        }

        &-text{

            color: #7C8EB5;
            font-size: 16px;
            font-family: Onest;

            &-red{

                color: #FF4E78;
                font-size: 20px;
                font-family: Onest;
                font-weight: 500;

            }
        }

    }
}
