.strange-graph-stats {
    $width: 50px;

    background-color: #f7faff;

    height: 230px;
    width: 1200px;

    padding: 16px 0;
    overflow: auto;

    display: flex;
    flex-direction: column;

    border-radius: 16px;

    user-select: none;
    position: relative;

    &-description {
        position: absolute;
        left: 50%;
        top: 41%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        z-index: 1;
    }

    &-title {
        color: #37476a;
        font-size: 20px;
        font-family: "Montserrat Alternates";
        font-weight: 600;
    }

    &-subtitle {
        width: 720px;
        color: #7c8eb5;
        font-size: 16px;
        font-family: "Onest";
    }

    &-wrapper {
        padding-left: 30px;
        display: flex;
        width: 100%;
        height: 100%;
        flex-grow: 1 0 auto;
    }

    &-description-x {
        border: thin solid cadetblue;
        flex: 0 0 auto;
        width: $width;
    }

    &-description-y {
        height: 50px;
        display: flex;
        // padding: 0 0 0 25px;
    }

    &-graph {
        flex: 0 0 auto;
        overflow: auto;
        position: relative;

        &_bordered {
            $line: thin solid #b2c2e4;
            border-left: $line;
            border-bottom: $line;
        }
    }
}
