.congruence{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    gap: 16px;
    height: 180px;
    width: 33%;
    background: #F7FAFF;
    border-radius: 32px;
  }
  &-imgText{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &-title{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #7C8EB5;
    padding: 5px ;
  }
  &-circle{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }
  &-video{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0px;
    border-radius: 100%;
    margin: 5px;
    flex-wrap: wrap;
  }

}

