.RecodingSetup {
    display: flex;
    flex-flow: column;
    gap: 10px;

    &-btn-back {
        @extend .RecodingSetup-text-dark-blue;

        display: flex;
        flex-flow: row nowrap;
        gap: 10px;
        color: #37476a;
        cursor: pointer;
    }

    &-block {
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
        margin-bottom: 10px;
        padding: 15px;
        background-color: #fff;
        border-radius: 16px;
    }

    &-white-block{
        background-color: #fff;
    }

    &-text {
        font-size: 16px;
        line-height: 20px;

        &-dark-blue {
            color: #37476a;
            font-weight: 600;
            font-family: "Montserrat Alternates";
        }

        &-row {
            @extend .RecodingSetup-text-dark-blue;

            display: flex;
            flex-flow: row nowrap;
            gap: 10px;
            align-items: center;
            justify-content: start;
        }

        &-header {
            @extend .RecodingSetup-text-row;

            padding: 0.5em 0;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
        }

        &-grey {
            color: #7c8eb5;
            font-weight: 400;
            font-family: "Onest";
            font-style: normal;
        }

        &-blue {
            color: #2477f4;
            font-weight: 500;
            font-family: "Onest";
            font-style: normal;
        }
    }

    &-svg {
        &-small {
            width: 20px;
            height: 20px;

            svg {
                width: 20px;
                height: 20px;
            }
        }

        &-big {
            width: 32px;
            height: 32px;

            svg {
                width: 32px;
                height: 32px;
            }
        }
    }

    &-btn-block{
        width: 100%;
        padding-bottom: 15px;


        &-btn {
            display: flex;
            flex-flow: row nowrap;
            gap: 10px;
            justify-content: center;
            width: 100%;
            font-weight: 600;
            font-size: 16px;
            font-family: "Montserrat Alternates";
            font-style: normal;
            line-height: 20px;
        }
    }

    
}
