.base-graph-x-description {
    display: flex;
    font-weight: 500;
    font-size: 0.75rem;

    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        margin: 6px;
        color: #adb9d4;
        background-color: #f7faff;
        border-radius: 4px;

        &_first {
            margin-left: 14px;
        }

        &_selected {
            color: white;
            background-color: #ffb800;
        }
    }

    &-item-stats {
        display: flex;
        gap: 1px;
        align-items: center;
        justify-content: space-between;
        width: 70px;
        height: 20px;
        padding: 6px;
        color: #adb9d4;
        background-color: #fff;
        border-radius: 4px;

        &_first {
            // margin-left: 10px;
        }

        & > span {
            color: #adb9d480;
        }

        &_selected {
            color: white;
            background-color: #ffb800;
        }
    }
}

.base-graph-x-description-stats {
    display: flex;
    justify-content: space-between;
    margin: 6px;
    font-weight: 500;
    font-size: 0.75rem;

    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        margin: 6px;
        color: #adb9d4;
        background-color: #f7faff;
        border-radius: 4px;

        &_first {
            margin-left: 14px;
        }

        &_selected {
            color: white;
            background-color: #ffb800;
        }
    }

    &-item-stats {
        display: flex;
        gap: 1px;
        align-items: center;
        justify-content: space-between;
        width: 70px;
        // margin: 6px;
        height: 20px;
        padding: 6px;
        color: #adb9d4;
        background-color: #fff;
        border-radius: 4px;

        &_first {
            // margin-left: 10px;
        }

        & > span {
            color: #adb9d480;
        }

        &_selected {
            color: white;
            background-color: #ffb800;
        }
    }
}
