.TabItem {
    font-weight: 600;
    font-size: 14px;
    font-family: "Montserrat Alternates";
    font-style: normal;
    line-height: 18px;

    &-value {
        gap: 4px;
        align-items: center;
        padding: 6px 12px;
        color: #fff;
        font-size: 14px;
        line-height: 16px;
        background: #4a1193;
        border-radius: 40px;
    }

    &-percent{
        font-weight: 600;
        font-size: 20px;
        font-family: "Montserrat Alternates"; 
    }

    &-icon {
        div {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &-tab-list-item {
        display: inline-flex;
        flex-direction: row;
        flex-grow: 1;
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
        padding: 10px;
        color: #37476a;
        font-weight: 500;
        font-size: 14px;
        font-family: "Montserrat Alternates";
        font-style: normal;
        line-height: 20px;
        background: #e3e9f6;
        border-radius: 8px;
        box-shadow: 3px -1px 4px rgb(134 151 187 / 30%);
        cursor: pointer;

        &_active {
            margin-bottom: 0;
            color: #37476a;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            background-color: white;
            border: solid white;
            border-width: 1px 1px 0;
            border-radius: 8px 8px 0 0;
            cursor: pointer;
        }
    }
}
