.dinamism {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 16px;
    font-family: "Onest";
    background: #fff;
    border-radius: 12px;

    &-content {
        width: 100%;
        color: #37476a;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
}
