.base-graph-y-description {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    min-width: 40px;
    padding: 10px 6px 0 0;
    font-weight: 500;
    font-size: 0.75rem;

    &-item {
        width: inherit;
        color: #b2c2e4;
        text-align: right;
    }
}
