.BadGoodBlock {
    &-all {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(2, 1fr);
        width: 50%;
        height: 176px;
        background: #FFF;
        border-radius: 24px;
    }

    &-image {
        display: flex;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
        align-items: center;
        justify-content: flex-end;
    }

    &-list {
        display: flex;
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
        gap: 8px;
        align-items: flex-start;
        justify-content: center;
        padding: 0;

    }

    &-title {
        margin: 12px 0 12px 12px;
        padding: 0 10px;
        color: #37476A;
        font-weight: 600;
        font-size: 20px;
        font-family: 'Montserrat Alternates';
        font-style: normal;
        line-height: 24px;
    }

    &-text {
        display: flex;
        align-items: center;
        padding: 0 22px;
        color: #7C8EB5;
        font-weight: 400;
        font-size: 16px;
        font-family: 'Onest';
        font-style: normal;
        line-height: 20px;
    }

    &-ellipse {
        width: 8px;
        height: 8px;
        margin: 12px;
        border-radius: 100%;

    }

    &-listUl {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 450px;
    }

    &-elem {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #7C8EB5;
        font-weight: 400;
        font-size: 16px;
        font-family: "Onest";
        font-style: normal;
        line-height: normal;
    }

    &-allLi {
        display: flex;
        justify-content: center;
        margin-left: 12px;
    }
}