.video-item{
    display: flex;
    flex-flow: column nowrap;
    max-width: 400px;
    padding: 0%;
    flex-grow: 1;

    &-video-block{
        border-radius: 5%;
        cursor: pointer;
    }

    &-author-block{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        color: #7C8EB5;
        font-weight: 400;
        font-size: 14px;
        font-style: normal;
        line-height: 15px;

        &-title{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: start ;
            color: #37476A;
            font-weight: 600;
            font-size: 14px;
            font-family:  "Montserrat Alternates";
            line-height: 15px;
        }

    }


    &-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        margin-right: 10px;
        overflow: hidden;
        border-radius: 100%;

        &-pic{
            width: auto;
            height: 100%;
        }

    }

    &-title{
        color: #000;
        font-weight: 500;
        font-size: 14px;
        font-family: "Onest";
        font-style: normal;
        line-height: 18px;

    }
}